@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
}

.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 100;
}

.footer-wrapper {
    margin-top: auto;
    overflow: hidden;
    max-width: 1110px;
    max-width: 1300px;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    border-top: 0.1rem solid #d3d3d361;
    gap: 0.8rem;
    max-width: 1110px;
    padding: 1rem 2rem;
    width: 100%;
}

.footer-icon-link, .vo-github {
    width: 17px;
    height: 17px;
    display: block;
}

.footer-icon-link:hover {
    opacity: 0.8;
}

.footer-icon-link svg, .vo-github svg {
    width: 100%;
    height: 100%;
}

.header-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
}

.vo-github {
    line-height: 0;
}

.vo-github:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.vo-github-text {
    display: none;
}

h1 {
    font-size: 1.2rem
}

h2, h3 {
    margin-bottom: 0.5rem;
}

hr {
    border: none;
    border-top: 1px solid #d3d3d361;
}

.content-wrapper {
    display: flex;
}

.modal {
    background-color: black;
    opacity: 0.2;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 300;
}

.sidebar {
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    width: 70%;
    max-width: 17rem;
    top: 0;
    transition: left 0.8s ease;
    visibility: hidden;
    z-index: 350;
}

.sidebar-list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.sidebar-list-container li {
    cursor: pointer;
}

.sidebar-list-container li a {
    padding: 0.3rem 1rem;
    display: block;
}

.sidebarmenu-wrapper {
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #d3d3d361;
}

.sidebarmenu-text {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: fit-content;
    cursor: pointer;
    opacity: 0.8;
}

.sidebarmenu-text:hover {
    opacity: 1;
}

.main-content {
    padding:  0 1rem;
    overflow: hidden;
    margin-bottom: 10rem;
    
}

.sections {
    margin: 2.5rem 1rem;
}

.sections p {
    margin-bottom: 0.5rem
}

.component-wrapper {
    margin: 1.5rem 0;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.component-list-gsp {
    list-style-position: inside;
}

.component-list-gsp li {
    padding: 0.5rem 0;
}

.navigate {
    margin-top: 0.5rem;
}

.source-code {
    color: blue;
}

.testimonial-wrapper {
    margin: 4rem 0;
}

.tw-plain {
    margin-top: 1.5rem;
}

.badge-color-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.table-container {
    border: 0.1rem solid #5b5b5b4a;
    border-radius: 0.3rem;
    overflow-x: auto;
}

table {
    width: 100%;
    border-style: hidden;
}

table, th, td {
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    border: 0.1rem solid #5b5b5b4a;
    
}

th {
    background-color: #15181F;
    color: #FFFFFF;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-radius-l {
    border-top-left-radius: 0.3rem;
}

.bg-radius-r {
    border-top-right-radius: 0.3rem;
}

/* Code block syntax highlight overrides */

pre[class*="language-"] {
    background-color: #080C13; 
    color: #ccc;
    margin: 1.3rem 0;
    position: relative;
    padding: 2.5rem 0;
}

code[class*="language-"] {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
}

.token.class-name {
    color: #FF77AA;
}

.token.attr-name,
.token.plain-text {
    color: #FFFFFF;
}

.token.attr-value {
    color: #55EEEE;
}

.code-box-wrapper {
    position: relative;
}

.copy-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.1rem;
    z-index: 1;
    color: lightgrey;
}

.copy {
    text-align: right;
    cursor: pointer;
    line-height: 0;
}

.copied {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
}

@media (min-width:768px) {

    .vo-github {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        line-height: normal;
    }

    .footer-icon-link, .vo-github {
        width: unset;
        height: unset;
    }
    
    .footer-icon-link:hover {
        opacity: 0.8;
    }
    
    .footer-icon-link svg, .vo-github svg {
        width: unset;
        height: unset;
    }
    

    h1 {
        font-size: 1.5rem;
    }

    .vo-github-text {
        display: block;
    }

    .content-wrapper {
        display: flex;
        min-height: 100vh;
    }

    .card-wrapper {
        margin: 5rem;
    }
    
    .sidebar-list-container {
        padding: 1.5rem 2rem;
    }

    .sidebarmenu-wrapper {
        display: none;
    }

    .sidebar {
        visibility: visible;
        position: unset;
        background-color: unset;
        border-right: 0.1rem solid #d3d3d361;
        position: fixed;
        top: 5.9rem;
    }

    .main-content {
        padding-left: 19rem;
        max-width: 1300px;
    }

    footer {
        margin-left: 20rem;
        padding: 1rem 0;
    }

}

@media (min-width:1700px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
}

